<div fxLayout="row" fxLayoutAlign="space-between start">
  <h4>Reset Password</h4>
  <button mat-icon-button (click)="dialogRef.close(false)"><mat-icon>close</mat-icon></button>
</div>
<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input type="text" matInput [(ngModel)]="password" />
  <button matSuffix mat-icon-button (click)="generatePassword()">
    <mat-icon>vpn_key</mat-icon>
  </button>
  <button matSuffix mat-icon-button [cdkCopyToClipboard]="password" (click)="copied()">
    <mat-icon *ngIf="password.length>0">content_copy</mat-icon>
  </button>
</mat-form-field>
<button mat-raised-button [disabled]="!personId || !password" color="accent" (click)="resetPassword($event);">Reset Password</button>
<button mat-raised-button color="warn" (click)="dialogRef.close(false)">Close</button>