<div class="full-width" fxLayout fxLayoutAlign="space-between center">
  <div class="box-title">Initial Setup</div>
  <app-help [tag]="'LICENSE'"></app-help>
</div>
<div class="card-container" fxLayout fxLayoutAlign="start start" fxLayoutGap="32px">
  <div fxFlex="30" class="card-body" fxLayout="column">
    <mat-card>
      <h3>Settings</h3>
      <form fxLayout="row wrap" fxLayoutGap="12px" [formGroup]="mForm">
        <!--<mat-form-field appearance="outline">
    <mat-label>Weighbridge Name</mat-label>
    <input matInput placeholder="Weighbridge Name" [(ngModel)]="weighbridge" type="text" formControlName="inputWeighbridge" class="form-control">
  </mat-form-field>-->
        <mat-form-field appearance="outline">
          <!--<mat-label>Database Server</mat-label>-->
          <input matInput placeholder="Database Server" [(ngModel)]="server" type="text" formControlName="inputServer" class="form-control">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <!--<mat-label>Port</mat-label>-->
          <input matInput placeholder="Port" [(ngModel)]="port" type="number" formControlName="inputPort" class="form-control">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <!--<mat-label>Database Name</mat-label>-->
          <input matInput placeholder="Database Name" [(ngModel)]="dbName" type="text" formControlName="inputDbName" class="form-control">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <!--<mat-label>Database Username</mat-label>-->
          <input matInput placeholder="Username" [(ngModel)]="username" type="text" formControlName="inputUsername" class="form-control">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <!--<mat-label>Password</mat-label>-->
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" formControlName="inputPassword" class="form-control">
        </mat-form-field>
      </form>
    </mat-card>
    <mat-card-action class="full-width" fxLayout fxLayoutAlign="center center" fxLayoutGap="32px">
      <button mat-raised-button [disabled]="mForm.invalid" type="submit" color="primary" (click)="save();">Save</button>
      <button mat-raised-button type="submit" color="primary" (click)="loadInitialData();">Load Initial Data</button>
    </mat-card-action>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-content>
        <h3>License Details</h3>
        <form>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>License Number</mat-label>
            <input license-mask name="cntlLicenseNumber" [disabled]="isLicenseActive" [(ngModel)]="licenseNumber" matInput placeholder="License Number">
          </mat-form-field>
        </form>
        <h5>Valid till - {{validTill}}</h5>
      </mat-card-content>
      <mat-card-action fxLayout fxLayoutGap="16px">
        <button mat-raised-button [disabled]="isLicenseActive" (click)="activateLicense()">Activate</button>
        <button mat-raised-button [disabled]="!isLicenseActive" (click)="deactivateLicenseForMachine()">De-activate</button>
      </mat-card-action>
    </mat-card>
    <mat-card>
      <h3>Hik Vision Camera Settings</h3>
      <form fxLayout="col" fxLayoutGap="12px" [formGroup]="camForm">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Picture Url" [(ngModel)]="camPictureUrl" type="text" formControlName="inputPicUrl" class="form-control">
        </mat-form-field>
        <div fxLayout="row">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Username" [(ngModel)]="camUser" type="text" formControlName="inputCamUsername" class="form-control">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Password" [(ngModel)]="camPassword" type="password" formControlName="inputCamPassword" class="form-control">
          </mat-form-field>
        </div>

      </form>
      <mat-card-action class="full-width" fxLayout fxLayoutAlign="center center" fxLayoutGap="32px">
        <button mat-raised-button [disabled]="mForm.invalid" type="submit" color="primary" (click)="saveCameraSettings();">Save</button>
      </mat-card-action>
    </mat-card>
    
  </div>
  

</div>
