mat-form-field{
	width: 100%;
}

mat-card-content{
    padding: 10px 4px;
}
mat-card.selected{
    background-color: #ffc107;
    transform: scale(1.01);
}

mat-card{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.container{
	padding: 15px;
}