<div class="container">
  <div fxLayout fxLayoutAlign="space-between">
    <app-tag-selector [title]="'Truck No.*'" (optionSelected)="truckSelected($event)"></app-tag-selector>
    <h3>Date - {{currDate.getDate()}} / {{currDate.getMonth()}} / {{currDate.getFullYear()}}</h3>
  </div>
  <form ><!-- *ngIf="truckNo && truckNo.length>0" -->
    <div fxLayout fxLayoutGap="32px" fxLayoutAlign="start">
      <mat-form-field>
        <mat-label>RST No</mat-label>
        <input matInput [(ngModel)]="weighment.rstNo" name="cntlRSTNo"/>
      </mat-form-field>
      <mat-select class="weighment-type-selector" appearance="fill"[(value)]="weighment.weightmentType">
        <mat-option *ngFor="let option of weighmentTypes" [value]="option">{{option}}</mat-option>
      </mat-select>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Angular forms</mat-label>
        <input  matInput [matDatepicker]="picker1" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field> -->
    </div>
    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="32px">
      <app-tag-selector [title]="'Supplier*'" (optionSelected)="supplierSelected($event)"></app-tag-selector>
      <app-tag-selector [title]="'Material*'" (optionSelected)="materialSelected($event)"></app-tag-selector>
      <mat-form-field>
        <mat-label>Gate Pass No</mat-label>
        <input matInput [(ngModel)]="weighment.gatePassNo" name="cntlGatePassNo"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>PO Details</mat-label>
        <input matInput [(ngModel)]="weighment.poDetails" name="cntlPODetails"/>
      </mat-form-field>
    </div>
    <div fxLayout fxLayoutAlign="space-around center">
      <h3>First Weight - {{currWeight}}</h3>
      <h3>Second Weight - {{currWeight}}</h3>
      <h3 *ngIf="weighment.firstWeight && weighment.secondWeight">Net Weight - {{weighment.secondWeight - weighment.firstWeight}}</h3>
    </div>

    <div class="full-width" fxLayout fxLayoutGap="32px" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
      <button mat-raised-button color="accent" (click)="reset()">Reset</button>
    </div>
  </form>
</div>
