.weighment-type-selector{
    max-width: 250px;
}

.container {
  padding: 16px;
  font-size: 14px;
  border-radius: 15px;
}

.red {
  background-color: #ffe6e6;
}

.green {
  background-color: #e1fbf0;
}

.blue {
  background-color: #e0e9f9;
}



.weight.mat-form-field {
  .mat-input-element {
    color: red;
    font-weight: bolder;
    font-size: large;
  }
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.6em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

button.cdk-focused {
  background-color: #000e5a !important; //rgba(0,0,0,0.12);
}

button {
  margin-right: 1vw;
  background: #4285F4;
  color: white;
  font-size: 16px;
  line-height: 26px;
  height: auto;
  width: auto;
}

button.mat-icon-button {
  background: none!important;
  font-size: 16px;
  height: auto;
  width: auto;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

//.outer-container {
//  border-radius: 15px !important;
//  margin: 20px 20px 20px 20px;
//  max-height: 80vh;
//  overflow: no-display;
//}

//.container {
//  padding: 16px 16px 16px 16px;
//  max-height: 78vh;
//  overflow: auto;
//}
