:host{
	height: 100%;
}

.main-container{
	min-height: 100%;
    max-height: 100%;
  background-image: url("../assets/images/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.app-bar {
  align-self: flex-start;
  width:100%;
}
