
.mat-header-row, .mat-row {
  min-height: 30px;
  height: 30px;
}

/*::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: -15px !important;
}

::ng-deep label.ng-star-inserted {
  transform: translateY(-0.59375em) scale(0.75) !important;
}*/

mat-icon {
  color: #02808a;
  font-size: 24px;
}

button.mat-raised-button {
  color: dimgrey;
  border-radius: 25px;
  padding: 2px 40px;
  min-height: 0px;
}
button.mat-raised-button.mat-primary {
  background-color: #9be14b;
}


button.mat-raised-button.mat-primary span.mat-button-wrapper mat-icon {
  color: white;
}

.mat-row:nth-child(even) {
  background-color: lightgray;
}

.gray{
  background-color: lightgray;
}
