<mat-card>
    <mat-card-title>
      Weighing Indicator
    </mat-card-title>
    <form>
      <mat-card-content fxLayout="column" fxLayoutGap="24px">
        <mat-radio-group aria-label="Select indicator type" name="cntlType" [(ngModel)]="indicator.type">
          <mat-radio-button value="serial">Serial</mat-radio-button>
          <mat-radio-button value="tcpip">TCP/IP</mat-radio-button>
          <mat-radio-button value="http">Http</mat-radio-button>
        </mat-radio-group>
        <div fxLayout fxLayoutGap="8px">
          <mat-form-field appearance="fill" *ngIf="indicator.type==='serial'">
            <mat-label>Port</mat-label>
            <mat-select matInput [(ngModel)]="indicator.comPort" name="cntlComPort">
              <mat-option *ngFor="let port of ports" [value]="port">{{port}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="refreshPortList()"><mat-icon>refresh</mat-icon></button>
        </div>
        
        <div *ngIf="indicator.type!=='serial'" fxLayout fxLayoutGap="16px">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>IP Address</mat-label>
            <input name="cntlIpAddress" matInput placeholder="IP Address" [(ngModel)]="indicator.ipAddress">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Port</mat-label>
            <input name="cntlPort" matInput placeholder="Port" [(ngModel)]="indicator.port">
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="indicator.type==='http'">
            <mat-label>On validation failure</mat-label>
            <mat-select matInput [(ngModel)]="indicator.httpType" name="cntlHttpType">
              <mat-option value="http">http</mat-option>
              <mat-option value="https">https</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout fxLayoutGap="16px">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>String Indicator Name</mat-label>
            <mat-select matInput [(ngModel)]="indicator.indicatorString" name="cntlWeighString">
              <mat-option *ngFor="let iString of indicatorStrings" [value]="iString.stringName">{{iString.stringName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>On validation failure</mat-label>
            <mat-select
              matInput
              [(ngModel)]="indicator.indicatorString"
              name="cntlIndicatorString"
              (change)="selectedStringChanged()">
              <mat-option *ngFor="let item of indicatorStrings" value="item">{{item.stringName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout fxLayoutGap="16px">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Status</mat-label>
            <input name="cntlStatus" matInput placeholder="Status" [(ngModel)]="indicator.status">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Weight measuring unit</mat-label>
            <mat-select matInput [(ngModel)]="indicator.measuringUnit" name="cntlMeasuringUnit">
              <mat-option value="gm">gm</mat-option>
              <mat-option value="KG">KG</mat-option>
              <mat-option value="quintol">Quintol</mat-option>
              <mat-option value="ton">Ton</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Decimal Point</mat-label>
            <input name="cntlDecimalPoint" matInput placeholder="Decimal Point" [(ngModel)]="indicator.decimalPoint">
          </mat-form-field>
        </div>
        <div fxLayout fxLayoutAlign="space-between center">
          <div>
            <button mat-raised-button color="accent" (click)="verify()">Verify</button>
            <span>{{verification_weight}}</span>
          </div>
          
          <div fxLayout fxLayoutGap="16px">
            <button mat-raised-button color="primary" (click)="save()"><mat-icon>save</mat-icon> Save</button>
            <button mat-raised-button color="error" (click)="cancel()"><mat-icon>cancel</mat-icon> Cancel</button>
          </div>
        </div>
      </mat-card-content>
    </form>
</mat-card>
