<mat-tab-group dynamicHeight>
  <mat-tab label="Search Fields">
    <app-search-fields></app-search-fields>
  </mat-tab>
  <mat-tab label="Additional Fields"> <app-additional-fields></app-additional-fields> </mat-tab>
  <mat-tab label="Challan Weight Check"> <app-challan-weight-check></app-challan-weight-check> </mat-tab>
  <mat-tab label="Features"> <app-features></app-features> </mat-tab>
  <mat-tab label="Tracking Fields"> <app-tracking-fields></app-tracking-fields> </mat-tab>
  <mat-tab label="Field Setup"> <app-field-setup></app-field-setup> </mat-tab>
  <mat-tab label="Weighment Types"> <app-weighment-types></app-weighment-types> </mat-tab>
</mat-tab-group>
