.icon-container{
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 4px;
    background-color: #d3d3d3;
}

.bordered{
    border: 1px solid;
    padding: 4px;
}

.pending-record-row{
    cursor: pointer;
}

.main-container{
    max-height: 100%;
}

.pending-record-container{
    max-height: inherit;
    overflow-y: auto;
}

.curr-weight-green {
  font-size: 60px;
  color: #25ab25;
}

.mat-list-item {
    cursor: pointer;
}

  .mat-list-item:nth-child(odd) {
    background-color: #efefef;
  }

.curr-weight-red {
  font-size: 60px;
  color: #ff2f2f;
}

.mat-list-item.pending-long {
  background-color: #ff7e7e;
}

.record-item-left{
    padding-right: 8px;
}

.record-item-right {
  padding-left: 8px;
}
