
	<mat-card>
		<mat-card-title fxLayout fxLayoutAlign="space-between center">
			<div>{{title}}</div>
			<div><button mat-icon-button (click)="cancel()"><mat-icon>close</mat-icon></button></div>
		</mat-card-title>
		<mat-card-header>
			<form fxLayout fxLayoutGap="16px">
				<mat-form-field appearance="outline">
					<mat-label>Code</mat-label>
					<input matInput appCapitalize
								 placeholder="Code"
								 [disabled]="selectedItem.id"
								 [(ngModel)]="selectedItem.code"
								 name="cntlCode"
								 (keyup.enter)="addItem()" />
					<mat-hint>{{hint}}</mat-hint>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>{{fieldText}}</mat-label>
					<input matInput appCapitalize
								 [placeholder]="fieldText"
								 [(ngModel)]="selectedItem.mValue"
								 name="cntlName"
								 (keyup.enter)="addItem()" />
					<mat-hint>{{hint}}</mat-hint>
				</mat-form-field>
				<button mat-icon-button (click)="addItem()" color="primary"><mat-icon>save</mat-icon></button>
			</form>
		</mat-card-header>
		<mat-card-content class="item-list">
			<mat-form-field appearance="outline">
				<mat-label>Filter</mat-label>
				<input matInput appCapitalize
							 placeholder="Filter"
							 [(ngModel)]="filterStr"
							 name="cntlName" />
			</mat-form-field>
			<mat-selection-list #itemList [multiple]="false">
				<div fxLayout fxLayoutAlign="start center" fxLayoutGap="32px">
					<div>CODE</div>
					<div>DETAIL</div>
				</div>
				<mat-list-option *ngFor="let item of items|myfilter:['code', 'mValue']:filterStr:true; let i=index;" [value]="item">
					<div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="32px">
						<div fxLayout fxLayoutGap="32px">
							<div>{{item.code}}</div>
							<div>{{item.mValue}}</div>
						</div>
						<div fxLayout>
							<button mat-icon-button color="primary" (click)="editItem(item, i)"><mat-icon>edit</mat-icon></button>
							<button mat-icon-button color="error" (click)="removeItem(item, i)"><mat-icon>clear</mat-icon></button>
						</div>
					</div>
				</mat-list-option>
			</mat-selection-list>
		</mat-card-content>
		<mat-card-footer>
			<mat-card-action fxLayout fxLayouAlign="center center" fxLayoutGap="16px">
				<button mat-raised-button (click)="export()" color="primary">Export All</button>
				<button mat-raised-button (click)="cancel()" color="primary">Close</button>
			</mat-card-action>
		</mat-card-footer>
	</mat-card>
