@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~material-design-icons/iconfont/material-icons.css";
@import "~angular-notifier/styles.css";
@import "./themes/compact-theme.css";

html, body{
	height:100%;
    width: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	overflow-x:hidden;
   
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100%;
}

.box-title{
	font-size: medium;
	font-weight: bold;
}

.container{
	padding: 16px;
  border-radius: 15px;
  background-color: white;
  margin: 20px 20px 20px 20px;
}

.content-box{
	height: 100%;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 15px;
	padding: 32px;
}
