<div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="32px">
  <div class="full-width" fxLayout fxLayoutAlign="space-between center">
    <div class="box-title">Truck Weighing</div>
    <button mat-icon-button color="primary"><mat-icon>info</mat-icon></button>
  </div>
  <div class="content-box">
      <form class="example-form" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="32px">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Minimum length for truck number</mat-label>
          <input name="cntlMinlengthTruckNumber" matInput placeholder="Minimum length for truck number" value="8">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Minimum length for receipt number</mat-label>
          <input name="cntlMinlengthReceiptNumber" matInput placeholder="Minimum length for receipt number" value="4">
        </mat-form-field>
      </form>
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="32px">
        <button mat-raised-button color="primary">Reload Sequences</button>
        <button mat-raised-button color="primary">Save & Next</button>
      </div>
  </div>
</div>