<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <h3>Pending List</h3>
  <form fxLayout fxLayoutGap="32px">
    <mat-form-field appearance="outline">
      <mat-label>RST No</mat-label>
      <input matInput [(ngModel)]="rstSearchTxt" name="cntlRstSearchTxt" (ngModelChange)="filter()" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vehicle No</mat-label>
      <input matInput [(ngModel)]="vehicleTxt" name="cntlVehicleTxt" (ngModelChange)="filter()" />
    </mat-form-field>
  </form>
  <div class="table-container">
    <mat-table #table [dataSource]="filteredRecords">

      <!-- Name Column -->
      <ng-container matColumnDef="rstNo">
        <mat-header-cell *matHeaderCellDef> Rst No </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.rstNo}}
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="vehicleNo">
        <mat-header-cell *matHeaderCellDef> Vehicle No </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.vehicleNo}}
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="mdateTime">
        <mat-header-cell *matHeaderCellDef> Datetime </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.firstWeightDatetime}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="material">
        <mat-header-cell *matHeaderCellDef> Material </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.material}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <mat-header-cell *matHeaderCellDef> Supplier </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.supplier}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transporter">
        <mat-header-cell *matHeaderCellDef> Transporter </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.transporterName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="navigateTo('weighment', element.rstNo)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (click)="dialogRef.close(row.rstNo)"></mat-row>
    </mat-table>

  </div>
  <div class="full-width" fxLayout fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
  </div>
</div>
