.table-container {
  width: 100%;
  overflow: auto;
  max-height: 45vh;
}


.mat-table {
  overflow-x: auto;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
  cursor: pointer;
}
