<div class="container" fxLayout="column" fxLayoutGap="16px">
  <div fxLayout fxLayoutAlign="space-between center">
    <h3>{{title}}</h3>
    <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
  </div>
  <form fxLayout="row wrap" fxLayoutGap="16px">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput name="cntlUsername" [(ngModel)]="user.username" placeholder="Username"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fullname</mat-label>
      <input matInput name="cntlFullname" [(ngModel)]="user.fullname" placeholder="Full Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <input matInput name="cntlRole" [(ngModel)]="user.role" placeholder="Role"/>
    </mat-form-field>
    
    <mat-radio-group matInput name="cntlStatus" [(ngModel)]="user.status" fxLayout fxLayoutGap="12px">
      <mat-radio-button value="Active">Active</mat-radio-button>
      <mat-radio-button value="Inactive">Inactive</mat-radio-button>
    </mat-radio-group>
    
  </form>
  <div fxLayout="row wrap" fxLayoutGap="64px">
    <mat-checkbox *ngFor="let permission of permissions" [(ngModel)]="permission.isSelected">{{permission.permission}}</mat-checkbox>
  </div>
  <div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="error" (click)="close()">Close</button>
  </div>
  <div fxLayout fxLayoutGap="16px" fxLayoutAlign="start center" *ngIf="user.id">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="cntlPassword" [(ngModel)]="user.password" placeholder="Password" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" name="cntlConfirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" />
    </mat-form-field>
    <button mat-raised-button (click)="resetPassword()" color="primary">Reset Password</button>
  </div>
</div>
